.hottopic{
	margin-top: 60px;
}

.piece{
	border-bottom: solid grey 1px;
	margin-bottom: 10px;
	margin-top:5px;
}

a:hover{
	cursor: pointer;
	color: orange;
}

.ccc{
	position: absolute;
    right: 30px;
}